.login {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_container {
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login__title {
    font-size: 28px;
    margin-bottom: 64px;
    text-align: center;
}

.login__wrapper{
    width: 45%;
}
.login__form-box {
    border-radius: 24px;
    padding: 80px 48px 126px;
    width: 45%;
    background-color: #fff;
    box-shadow: 0 50px 100px 0 rgba(56, 131, 146, 0.1);

}
.login__form{
    width: 100%;
}
.login__form-title {
    margin-bottom: 36px;
    text-align: center;
    font-size: 32px;
}