.debtor__section {
    padding-top: 30px;
}
.debtor__wrapper{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    justify-content: space-between;
}
.debtor__box {
    width: 30%;
}
.debtor__content-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.debtor__item-box {
    padding: 20px 15px;
    background-color: #BBD2FC;
    border-radius: 16px;
}
.debtor__item-title {
    margin-bottom: 8px;
}
.debtor__debt-box {
    flex-grow: 1;
}

.debtor__debt-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}
.debtor__control_text {
    font-size: 20px;
    font-weight: 700;
}